@media screen and (max-width: 1200px) {
	.recettemargin {
    	margin: 50px 50px;
	}
}

@media screen and (max-width: 1024px) {
	.recette_text {
		font-size: 35px;
	}
	
	.searchbar_taille {
		height: 40px;
	}
	
	.form-inline .form-control {
    	width: 400px;
	}
	
	.btn-danger {
    	padding: 8px 20px;
	}
}

@media screen and (max-width: 960px) {
	.recette_select {
    margin: 0 auto;
    padding: 10%;
    position: relative;
    z-index: 2;
	}
}

@media screen and (max-width: 768px) {
	.recette_text {
		font-size: 25px;
	}
	
	.form-inline .form-control {
    	width: 400px;
	}
	
	.btn-danger {
    	padding: 8px 20px;
	}
	
	.recette_select {
    margin: 0 auto;
    padding: 10%;
    position: relative;
    z-index: 2;
	}
	
	.recette_select {
    margin: 0 auto;
    padding: 5%;
    position: relative;
    z-index: 2;
	}
}

@media screen and (max-width: 568px) {
	.recette_select {
    margin: 0 auto;
    padding: 0%;
    position: relative;
    z-index: 2;
	}
}

@media screen and (max-width: 508px) {

	}