/*font-face*/
			@font-face {
			font-family: 'courgetteregular';
			font-style: normal;
			src: url(fonts/Courgette-Regular.ttf);
			}

/*wrapper*/
.container1 {
    width: 1570px;
}

body {
	background-color: antiquewhite;
	background-image: url(../img/back1.jpg);
	background-repeat: repeat;
	background-size: auto;
}

.wrap {
	min-height: 100%;
	margin-bottom: -350px;
}

/*logo resto*/
h1, h3 {
	font-family: 'courgetteregular', Arial, sans-serif;
}

h3 {
	text-align: center;
}

.auteuralign {
	text-align: center;
}

.logomargin {
	margin-top: -12px;
}

.navbar-nav {
    float: right;
}

.navbar-default {
    opacity: 0.8;
}

.active {
	color: #000000;
}

.active1 {
	background-color: #e7e7e7;
}

/*photo couverture*/
.recetteback {
	position: absolute;
	z-index: 0;
	/*margin-top: -100px;*/
}

/*recette detail*/
.detailcolor {
	color: red;
	font-weight: 600;
	font-family: 'courgetteregular', Arial, sans-serif;
	font-size: 17px;
}

.detailcolor1 {
	color: #000;
	font-weight: 600;
	font-family: 'courgetteregular', Arial, sans-serif;
	font-size: 17px;
}


/*search bar*/
.recette_select {
    margin: 0 auto;
    padding: 15%;
    position: relative;
    z-index: 2;
}

.recette_text {
	font-family: 'courgetteregular', Arial, sans-serif;
	font-size: 40px;
	position: relative;
	z-index: 2;
}

.recette_text_align {
	text-align: center;
}

.form-inline {
	text-align: center;
}

.form-inline .form-control {
    width: 550px;
}

.input-group .form-control {
    height: 50px;
}

.formmargin {
	margin: 0px 50px;
}

/*section d'example de recette*/
.recettemargin {
	margin: 50px 140px;
}

.recettehover:hover {
	opacity: 0.5;
	transition: opacity .5s;
}

.nouveaute_color {
	color: red;
}

.btn-primary {
    background-color: sandybrown;
    border-color: sandybrown;
}

.btn-primary:hover {
	background-color: sandybrown;
    border-color: sandybrown;
	opacity: 0.8;
	transition: opacity .5s;
}

.btn-default {
    border-color: sandybrown;
    color: sandybrown;
}

.btn-default:hover {
    border-color: saddlebrown;
	background-color: saddlebrown;
	color: #ffffff;
	opacity: 0.8;
	transition: opacity .5s;
}

/*Button pour tous des recettes*/
.btnalign {
	text-align: center;
	margin: 10px 0px;
}

.btn-danger {
    padding: 5px 30px;
	font-family: 'courgetteregular', Arial, sans-serif;
	font-size: 20px;
	background-color: #d9534f;
    border-color: #d43f3a;
    color: #fff;
}

.btn-danger1 {
    padding: 20px 50px;
	margin: 100px 0px;
	font-family: 'courgetteregular', Arial, sans-serif;
	font-size: 20px;
	background-color: #d9534f;
    border-color: #d43f3a;
    color: #fff;
	
}

/*footer*/
.footer {
	width: 100%;
	height: 50px;
	color: #ffffff;
	background-color: #000000;
}

.footer p {
	text-align: center;
	margin-top: 15px;
	margin-bottom: 15px;
}

.copy {
	text-align: center;
}

.adress {
	text-align: center;
}