body {
	background-color: #EEE;
}
main {
	background-color: #FFF;
    padding: 20px;
}
.btn, .form-control {
	border-radius: 0;
}
.vertical-center {
    min-height: 95%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 95vh; /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
}
main.container{
    border-radius: 5px;
}